.skills-container {
    display: flex;
    flex-direction: column;
     justify-content: space-between;
    /* align-items: center; */
    gap: 20px;
  }
  
  .category {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
     justify-content: space-between;
  }
  
  .category-title {
    
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
  }
  
  .skills-grid {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 20px; */
    /* justify-content: space-between; */
  }
  .skills-div{
    display: flex;
    flex-direction: row;
     justify-content: space-around;
     flex-wrap: wrap;
     padding: 20px;
  }
  .skill {
    height: 120px;
    width: 220px;
    flex: 1 1 calc(33.333% - 20px);
    /* margin-bottom: 20px; */
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--skill-bg-color);
    box-sizing: border-box;
    position: relative;
    min-height: 100px; /* Adjust height as needed */
  }
  
  .skill b {
    display: block;
    margin-bottom: 20px;
  }
  
  .skill span {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .progress-bar-background {
    background-color: #f3f3f3;
    border-radius: 4px;
    overflow: hidden;
    height: 20px; /* Increased height */
    display: flex;
    margin-top: 30px; /* Adjusted space above the progress bar */
  }
  
  .progress-bar {
    display: block;
    height: 100%;
    background-color: #4caf50;
    border-radius: 4px;
  }
  